.sidebarcontent{
    list-style-type: none;
}
.sidebarcontent>li{
    margin-bottom: 5px;
    padding: 7px;
}
.sidebarcontent>li:hover{
    cursor: pointer;
    background-color: rgb(179, 175, 175);
    border-right: 5px solid orange;
}

.Question-Container{
    padding: 15px;
    border: 2px solid gray;
}

